{% extends "layout.njk" %}

{%block content%}
    <div class="wrapper">
        <img src="logo.jpeg" alt="Logo">
        <h1>Rocketseat</h1>
        <h2>"Mais do que uma plataforma de educação em tecnologia,
             somos uma comunidade incrível de programadores em busca
              do próximo nível 🚀"</h2>
        <ul >
            <li>Javascript</li>
            <li>ReactJS</li>
            <li>React Native</li>
            <li>Node.JS</li>
        </ul>

    </div>

    <div class="links" id="links-footer">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>

{% endblock %}
</body>
</html>